
<div *ngIf="foodTrucks">

  <mat-card class="example-card" *ngFor="let foodTruck of foodTrucks">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{foodTruck.name}}</mat-card-title>
      <mat-card-subtitle>{{foodTruck.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="foodTruck.imgUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{foodTruck.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">LIKE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
