
<mat-toolbar color="primary">

  <a [routerLink]="['/home']" class="title-link">Food Truck App</a>
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Hanburger dropdown for links">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="account">
      <mat-icon>account_box</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon>tag_faces</mat-icon>
      <span>Search For trucks</span>
    </button>
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon>beenhere</mat-icon>
      <span>Request Trucks</span>
    </button>
  </mat-menu>

  <mat-menu #account="matMenu">
    <button mat-menu-item [routerLink]="['/profile']" *ngIf="loggedIn()">
      <mat-icon>face</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item [routerLink]="['/login']" *ngIf="!loggedIn()">
      <mat-icon>face</mat-icon>
      <span>Log in</span>
    </button>
    <button mat-menu-item [routerLink]="['/register']" *ngIf="!loggedIn()">
      <mat-icon>add</mat-icon>
      <span>Create</span>
    </button>
    <app-logout *ngIf="loggedIn()"></app-logout>
  </mat-menu>
</mat-toolbar>
