<section *ngIf="foodTruck">


    <div class="title-div" [style.background-image]="'url(' + foodTruck.imgUrl + ')'">

      <h1>{{foodTruck.name}}</h1>
    </div>

    <mat-card class="card-info">
      <mat-icon class="single-icon" color="primary"> local_shipping</mat-icon>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" aria-label="Hanburger dropdown for links">
        <mat-icon>menu</mat-icon> View ▼
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectDisplayDiv('menu')">
          <mat-icon>restaurant</mat-icon>
          <span>Menu</span>
        </button>
        <button mat-menu-item (click)="selectDisplayDiv('comment')">
          <mat-icon>rate_review</mat-icon>
          <span>Reviews</span>
        </button>
        <button mat-menu-item (click)="selectDisplayDiv('schedule')">
          <mat-icon>schedule</mat-icon>
          <span>Schedule</span>
        </button>
        <button mat-menu-item (click)="selectDisplayDiv('about')">
          <mat-icon>info</mat-icon>
          <span>About us</span>
        </button>
      </mat-menu>
    </mat-card>
  </section>

  <main  *ngIf="foodTruck">
    <!-- About Us Div  -->
    <div class="about-us-div" *ngIf="showAboutUs">
      <h1>About us</h1>
      <p>{{foodTruck.description}}</p>
    </div>
    <!-- Menu Div -->
    <div class="menu-div" *ngIf="showMenuItems">
      <app-menu [truck]="foodTruck"> </app-menu>
    </div>
    <!-- Schedule Div -->
    <div class="schedule-div" *ngIf="showSchedule">
      <app-schedule [truck]="foodTruck"></app-schedule>
    </div>

  </main>
