
<div>
  <h1>Menu Options</h1>
  <button mat-raised-button color="primary" >
    <mat-icon>add</mat-icon>Add Menu Item
  </button>

</div>


<mat-card>
  <h3>Create A New Menu Item</h3>
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="name" [(ngModel)]="newMenuItem.name">
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Description</mat-label>
    <input matInput type="text" name="description" [(ngModel)]="newMenuItem.description">
  </mat-form-field>
  <mat-form-field appearance="fill" class="example-full-width">
    <mat-label>Image URL</mat-label>
    <input matInput type="text" name="imgUrl" [(ngModel)]="newMenuItem.imgUrl">
  </mat-form-field>
<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Active</mat-label>
  <input matInput type="boolean" name="active" [(ngModel)]="newMenuItem.active">
</mat-form-field>
<mat-form-field appearance="fill" class="example-full-width">
  <input matInput type="number" name="price" [(ngModel)]="newMenuItem.price">
  <mat-label>Price</mat-label>
</mat-form-field>
<button mat-raised-button color="primary" (click)="createMenuItem(newMenuItem)">Submit</button>
</mat-card>

<div class="food-truck-div" *ngIf="!editMenuItem">

  <mat-card class="example-card" *ngFor="let menuItem of menuItems" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{menuItem.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="menuItem.imgUrl" alt="Menu items for food truck">
    <mat-card-content>
      <p>
        {{menuItem.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" class="main-btn" (click)="setEditMenuItem(menuItem)">Edit</button>
      <button mat-raised-button color="warn" class="main-btn" (click)="deleteMenuItem(menuItem.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="editMenuItem">

  <mat-card>
    <button mat-raised-button color="warn" (click)="editMenuItem = null">X</button>
    <h3>Create A New Menu Item</h3>
    <mat-form-field appearance="fill" style="display: none;">
    <input matInput name="id" [(ngModel)]="editMenuItem.id">
  </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="editMenuItem.name">
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput type="text" name="description" [(ngModel)]="editMenuItem.description">
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Image URL</mat-label>
      <input matInput type="text" name="imgUrl" [(ngModel)]="editMenuItem.imgUrl">
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <input matInput type="number" name="price" [(ngModel)]="editMenuItem.price">
      <mat-label>Price</mat-label>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="updateFoodTruck(editMenuItem, truck.id, editMenuItem.id); editMenuItem = null">Submit</button>
  </mat-card>
</div>
