<mat-card class="example-card" *ngFor="let comment of comments" style="margin: 0 auto;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{comment.user?.username}}</mat-card-title>
    <mat-card-subtitle>Rating: {{comment.rating}}</mat-card-subtitle>
    <mat-card-content style="font-size: 15px"> {{comment.comment}}</mat-card-content>
  </mat-card-header>

</mat-card>

  <mat-card>
    <h3>Leave A Review!</h3>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Comment</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="newComment.comment">
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Rating</mat-label>
      <input matInput type="text" name="description" [(ngModel)]="newComment.rating">
    </mat-form-field>
  <button mat-raised-button color="primary" (click)="createCommentOnTruck(newComment)">Submit</button>
  </mat-card>
