<!-- <p>profile works!</p> -->
<div  class="user-card-div">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [style.background-image]="'url(' + user?.imgUrl + ')'"></div>
      <mat-card-title>{{user?.firstName}} {{user?.lastName}}</mat-card-title>
      <mat-card-subtitle>{{user?.username}}</mat-card-subtitle>
    </mat-card-header>
    <div *ngIf="tempUser">

      <button mat-raised-button color="warn" style="max-width: 10px;" (click)="tempUser = null">X</button>
      <h3 [style.color]="color1">Update User</h3>
      <mat-form-field class="example-form" appearance="fill">
        <input matInput type="text" name="firstName" placeholder="First Name" [(ngModel)]="tempUser.firstName" />
        <mat-label>First Name</mat-label>
      </mat-form-field>
      <mat-form-field class="example-form" appearance="fill">
        <input matInput type="text" name="lastName" placeholder="Last Name" [(ngModel)]="tempUser.lastName" />
        <mat-label>Last Name</mat-label>
      </mat-form-field>
      <mat-form-field class="example-form" appearance="fill">
        <input matInput type="text" name="imgUrl" placeholder="Imgage Url" [(ngModel)]="tempUser.imgUrl" />
        <mat-label>Image Url</mat-label>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit" (click)="updateUser(tempUser, tempUser.id)">
        Edit User</button>
      </div>

        <mat-card-actions *ngIf="!tempUser">
          <button mat-raised-button color="accent" (click)="setTempUser()">Edit</button>
        </mat-card-actions>
    </mat-card>

</div>

<div *ngIf="userRequests">
  <mat-card>

    <h1>
      User Requests
    </h1>
    <mat-card class="mat-elevation-z8 ">
      <table class="homemade-form">
        <thead>
        <tr>
          <th>Id</th>
          <th>Remarks</th>
          <th>Address</th>
          <th>Accepted?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of userRequests">
          <td>{{req.id}}</td>
          <td>{{req.remarks}}</td>
          <td>{{req.location?.street}}</td>
          <td><div *ngIf="req.accepted"> ✅</div></td>
        </tr>
      </tbody>
    </table>
  </mat-card>
  </mat-card>
</div>

  <app-crud-food-truck></app-crud-food-truck>


<div *ngIf="user?.role === 'foodTruckOwner'">



  <mat-card>
    <h1>Your Trucks</h1>

    <table mat-table [dataSource]="foodTrucks" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Food Truck </th>
        <td mat-cell *matCellDef="let truck"> {{truck.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let truck"> {{truck.description}} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let truck"> <button mat-raised-button color="primary"[routerLink]="['/truck/' + truck.id]">View</button> </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
    class="table-row"

    *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-card>
  <mat-card>

  <h1>
    Truck Requests
  </h1>
  <mat-card class="mat-elevation-z8 ">
    <table class="homemade-form">
      <thead>
      <tr>
        <th>Id</th>
        <th>Remarks</th>
        <th>Address</th>
        <th>Accepted?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of truckRequests">
        <td>{{req.id}}</td>
        <td>{{req.remarks}}</td>
        <td>{{req.location?.street}}</td>
        <td><div *ngIf="req.accepted"> ✅</div></td>
        <td><button mat-raised-button color="accent" (click)="updateRequest(req, req.id)">Accept</button></td>
      </tr>
    </tbody>
  </table>

</mat-card>
</mat-card>







</div>


