

<mat-card >

  <form class="create-truck-form">
    <h3>Create A New Food Truck</h3>
    <mat-form-field class="example-form" appearance="fill">
      <input matInput type="text" name="name" [(ngModel)]="newFoodTruck.name">
      <mat-label> Name</mat-label>
    </mat-form-field>
    <mat-form-field class="example-form" appearance="fill">
      <input matInput type="text" name="description" [(ngModel)]="newFoodTruck.description">
      <mat-label>Description</mat-label>
    </mat-form-field>
    <mat-form-field class="example-form" appearance="fill">
      <input matInput type="text" name="imgUrl" [(ngModel)]="newFoodTruck.imgUrl">
      <mat-label>Image URL</mat-label>
    </mat-form-field>
    <mat-form-field matInput class="example-form" appearance="fill">
      <input matInput type="boolean" name="active" [(ngModel)]="newFoodTruck.active"><br>
      <mat-label>Active</mat-label>
    </mat-form-field>
    <mat-form-field class="example-form" appearance="fill">
      <input matInput type="text" name="websiteUrl" [(ngModel)]="newFoodTruck.websiteUrl">
      <mat-label>Website URL</mat-label>
    </mat-form-field>
    <input matInput type="text" name="user" [value]="user" style="display: none;">
    <br>
    <button mat-raised-button color="primary" (click)="createFoodTruck(newFoodTruck)">Submit</button>
  </form>
</mat-card>


<form *ngIf="editFoodTruck">
  <label for="name">Food Truck Name: </label>
  <input type="text" name="name" [(ngModel)]="editFoodTruck.name">

  <label for="description">Description: </label>
  <input type="text" name="description" [(ngModel)]="editFoodTruck.description">

  <label for="imgUrl">Sets: </label>
  <input type="text" name="imgUrl" [(ngModel)]="editFoodTruck.imgUrl">

  <label for="active">Active: </label>
  <input type="boolean" name="active" [(ngModel)]="editFoodTruck.active">

  <label for="dateCreated">Date Created: </label>
  <input type="text" name="dateCreated" [(ngModel)]="editFoodTruck.dateCreated">

  <label for="websiteUrl">Website URL: </label>
  <input type="text" name="websiteUrl" [(ngModel)]="editFoodTruck.websiteUrl">

  <label for="user">User: </label>
  <input type="text" name="user" [(ngModel)]="editFoodTruck.user ">

  <button (click)="updateFoodTruck(editFoodTruck) ">Submit</button>
</form>
