<div class="register-div">
<h1>Register</h1>
  <mat-form-field class="example-form" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="newUser.username" type="text" name="username" placeholder="Username">
  </mat-form-field>
  <mat-form-field class="example-form" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="newUser.password" type="password" name="password" placeholder="Password">
  </mat-form-field>

  <mat-form-field class="example-form" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="newUser.firstName" type="text" name="firstName" placeholder="First Name">
  </mat-form-field>
  <mat-form-field class="example-form" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="newUser.lastName" type="text" name="lastName" placeholder="Last Name">
  </mat-form-field>
  <mat-form-field class="example-form" appearance="fill">
    <mat-label>Profile Image URL</mat-label>
    <input matInput [(ngModel)]="newUser.imgUrl" type="text" name="imgUrl" placeholder="Insert Profile Image URL">
  </mat-form-field>
    <button mat-raised-button color="accent" (click)="register(newUser)">Register</button>

</div>
