/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;800&family=Dancing+Script:wght@700&family=Roboto:wght@100;300;500&display=swap');

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Cairo', sans-serif;

}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 300;
}

h3, h4, h5 {
  font-weight: 100;
}
